.overlay .video {
    border: #fafafa 6px solid;
}

.btn-default:hover a{
    color: #fff;
    
}

.dropdown-menu>li>a.active {
    background-color: #f5f5f5 !important;
}


.video-caption {
    font-size: 12px !important;
    font-family: "Open Sans";
    position: absolute;
    font-weight: 700;
     margin-top: 0px !important; 
    margin-left: 15px;
    color: #666 !important;
    z-index: 50;
}


